<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{% if form.errors %}
		<p>Ошибка</p>
	{% endif %}

	{% if next %}
		{% if user.is_authenticated %}
			<p>вы не имеете доступа</p>
		{% else %}
			<p>логиньтесь</p>
		{% endif %}
	{% endif %}

	<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>

			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		<input type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}">
	</form>

	<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
	<p><a href="/">Вернуться на главный сайт</a></p>
</body>
</html>